name: tests

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  tests:
    name: Test
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python_version: ["3.8", "3.9", "3.10", "3.11"]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Configure Python version
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
          architecture: x64
          cache: "pip"

      - name: Build sdist
        run: |
          python -m pip install -U build pip setuptools
          python -m pip install -U -r requirements.txt
          python -m build --sdist

      - name: Run mypy
        run: python -m mypy catalogue

      - name: Delete source directory
        uses: JesseTG/rm@v1.0.3
        with:
          path: catalogue

      - name: Uninstall all packages
        run: |
          python -m pip freeze > installed.txt
          python -m pip uninstall -y -r installed.txt

      - name: Install from sdist
        run: |
          SDIST=$(python -c "import os;print(os.listdir('./dist')[-1])" 2>&1)
          pip install dist/$SDIST
        shell: bash

      - name: Test import
        run: python -c "import catalogue"

      - name: Install test requirements
        run: python -m pip install -U -r requirements.txt

      - name: Run tests
        run: python -m pytest --pyargs catalogue -Werror
